# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
env/

# VSCode config (se algum dia usar)
.vscode/

# PyCharm config
.idea/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# Logs
*.log

# Python egg info
*.egg-info/
dist/
build/

# pytest cache
.pytest_cache/
